
<form [formGroup]="type" class="d-flex" role="search">

  <input type="text"
  placeholder="Search by name" name="filter"
  formControlName="filter" (input)="onfilterChange()">
    <button class="btn btn-outline-success" type="submit">Search</button>

  </form>

  <button class="btn btn-primary mt-3" (click)="addNewEmployee(null, false, 0)">
    Add Employees
  </button>

  <div
  class="container my-5 row-100 justify-content-center text-align-center table table-bordered"
>
  <table class="table" border="2">
    <tr>
      <th>Employee ID</th>
      <th>Name</th>
      <th>CNIC #</th>
      <th>Contact #</th>
      <th>Address</th>
      <th>Qualification Count</th>
      <th>Edit</th>
      <th>Delete</th>
      <th>Employee Qualification</th>
    </tr>

    <tr *ngFor="let emp of employeesService.employeesArrayCopy;let i = index">
        <td>{{ emp.empID }}</td>
        <td>{{emp.name}}</td>
        <td>{{ emp.cnic }}</td>
        <td>{{ emp.contact }}</td>
        <td>{{ emp.address }}</td>
        <td>{{emp.QualArray ? emp.QualArray.length : 0}}</td>

        <td class="text-center">
            <a
              class="btn btn-link btn-warning btn-just-icon edit"
              (click)="addNewEmployee(emp, true, i)"
              ><i class="material-icons">edit</i></a
            >
          </td>
          <td class="text-center">
            <a
              class="btn btn-link btn-warning btn-just-icon edit"
              (click)="deleteEmployee(emp.empID, i)"
              ><i class="material-icons">delete</i></a
            >
          </td>
          <td class="text-center">
            <a
              class="btn btn-link btn-warning btn-just-icon edit"
              (click)="addQualification(emp,i)"
              ><i class="material-icons">add</i></a
            >
          </td>
          
        </tr>
      </table>

     