<button (click)="addNewArea(null, false)" class="btn btn-primary mt-3">
  Add Areas
</button>
<div
  class="container my-5 row-100 justify-content-center text-align-center table table-bordered"
>
  <table class="table" border="2">
    <tr>
      <th>Area ID</th>
      <th>City Name</th>
      <th>Area</th>
      <th>Short Desc</th>
      <th>Active</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>

    <tr *ngFor="let area of areaApi.areasArray">
      <td>{{ area.areaID }}</td>
      <td>{{ returnName(area.cityID) }}</td>
      <td>{{ area.name }}</td>
      <td>{{ area.shortDesc }}</td>
      <td>{{ area.active }}</td>

      <td class="text-center">
        <a
          id="flavour_id_btn_editflavour"
          class="btn btn-link btn-warning btn-just-icon edit"
          (click)="addNewArea(area, true)"
          ><i class="material-icons">edit</i></a
        >
      </td>
      <td class="text-center">
        <a
          id="flavour_id_btn_editflavour"
          class="btn btn-link btn-warning btn-just-icon edit"
          ><i class="material-icons">delete</i></a
        >
      </td>
    </tr>
  </table>

  <!-- <button (click)="page(firstPage)">Page</button>
  {{this.page(firstPage)}} -->
</div>

<div class="row">
  <div class="col md-12 d-flex justify-content-center">
    <div class="form-inline float-left mr-1">
      <select
        class="form-control"
        [value]="productPerPage"
        (change)="changePerSize($event)"
      >
        <option value="5">5 Per Page</option>
        <option value="10">10 Per Page</option>
        <option value="15">15 Per Page</option>
        <option value="20">20 Per Page</option>
      </select>
    </div>

    <div class="btn-group float-right">
      <button 
        class="btn btn-outline-primary"
        *ngFor="let page of pageNumbers"
        (click)="changePage(page)" [class.active]="page == selectedPages"
      >
        {{page}}
      </button>
    </div>
  </div>
</div>
