<form class="d-flex" role="search">
    <input
      class="form-control me-2"
      type="search"
    
      placeholder="Search"
      aria-label="Search"
    />
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>



  <button class="btn btn-primary mt-3" (click)="addNewCity(null , false)">Add City</button>

<div class="container my-5 row-100 justify-content-center text-align-center table table-bordered">
<table class="table" border="2">
    <tr>
      <th>City ID</th>
      <th>Province ID</th>
      <th>City</th>
      <th>Short Name</th>
      <th>Active</th>
      <th>Edit</th>
      <th>Delete</th>
      
    </tr>
    <tr *ngFor="let city of cityApi.cities">
        <td>{{city.cityID}}</td>
        <td>{{city.province_StateID}}</td>
        <td>{{city.name}}</td>
        <td>{{city.shortDesc}}</td>
        <td>{{city.active}}</td>
        <td class="text-center">
            <a id="flavour_id_btn_editflavour" 
                class="btn btn-link btn-warning btn-just-icon edit"
                (click)="addNewCity(city, true)"><i
                    class="material-icons">edit</i></a>
        </td>
        <td class="text-center">
          <a id="flavour_id_btn_editflavour" 
              class="btn btn-link btn-warning btn-just-icon edit"
              (click)="this.cityApi.deleteCities(city.cityID)"><i
                  class="material-icons">delete</i></a>
      </td>
    </tr>
</table>
</div>

